@set Busy {
    :root {
        position: fixed;
        size: *;
        flow: vertical;
        border-spacing: 16dip; 
        background-color: rgba(0, 0, 0, 0.4);
    }

    :root > * {
        margin: 0 auto !important;
    }

    p {
        text-align: center;
    }

    progress {
        width: 50vw !important;
    }
}
