@set ModList {
    :root {
        size: *;
    }

    table,
    tr {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }

    th {
        background-color: color(back);
        position: relative;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: morph(color(panel-back), lightness: 16.67%);
    }

    .numeric {
        width: 2em;
        text-align: center;
    }

    th:first-child, td:first-child {
        box-sizing: border-box;
        max-width: 1.05em !important;
        min-width: 1.05em !important;
        width: 1.05em !important;
    }

    // th:not(:first-child) {
    //   width: 1*;
    // }
    //
    // th.ellipsis {
    //     width: 3*;
    // }

    tbody tr:hover {
        background-color: color(highlight-hover);
    }

    tr.selected {
        background-color: color(accent);
    }

    tr.disabled {
        color: color(disabled-text);
    }

    tr.dragging {
      opacity: 0.3;
    }

    td,
    th {
        padding: 4dip 8dip;
    }

    .ellipsis {
        position: relative;
        width: max-content;
    }

    .longer.ellipsis {
      width: *;
    }

    .ellipsis:before {
        content: "&nbsp;";
        visibility: "hidden";
    }

    .ellipsis .text {
        position: absolute;
        left: 0;
        right: 0;
        white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
    }

    .resize-handle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        width: 4dip;
        cursor: ew-resize;
    }

    .resize-handle:hover,
    .header--being-resized .resize-handle {
        opacity: 0.5;
    }
}
