@set Tabs {
  :root {
    background-color: color(back);
    flow: vertical;
    padding: 2dip;
    size: *;
  }

  .strip {
    flow: horizontal;
    height: min-content;
  }

  .strip .tab-button {
    box-sizing: border-box;
    border-radius: 6dip;
    background-color: color(back);
    font-size: 14dip;
    margin: 2dip;
    padding: 8dip 12dip;
    white-space: nowrap;
    width: auto;
  }

  .strip .tab-button.active {
    background-color: color(panel-back);
  }

  .strip .tab-button:hover {
    background: color(button-pressed-back);
  }

  .tab {
    background-color: color(back);
    height: *;
  }
}
