@set folder-view
{
  :root {
    prototype: FolderView url(FolderView.js);
    display:block;
    height:*;
    flow:vertical; 
    background: color(panel-back);
    border: 0;
  }

  nav {
    flow: horizontal;
    border-spacing: 2dip;
    width: *;
  }

  nav input {
    width: * !important;
  }

  .content {
    height: *;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .content[system="windows"] option {
    behavior: shell-icon;
    padding-left: 20dip;
  }
}