@set folder-view
{
  :root {
    prototype: FolderView url(FolderView.js);
    display:block;
    size:*;
    flow:vertical; 
    background: color(panel-back);
    border: 0;
  }  

  select.path {
    display:block;
    max-width: 100%;
    flow:horizontal;
    overflow-x:auto;
    height:1.6em;
    border:none;
    background:none;
  }

  select.path > option {
    height:1.6em;
    line-height:height(100%);
    max-width:max-content;
    padding:0;
  }

  select:not(:focus) > option {background:transparent;}

  select.path > option:nth-child(1n+2)::after {
    content:"/";
  }

  select.path > option.up {
    width:24dip; 
    height:1.6em;
    max-width:24dip; 
    min-width:24dip; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(path: M52,83.999V21.655l21.172,21.172c1.562,1.562,4.094,1.562,5.656,0c1.562-1.562,1.562-4.095,0-5.657l-28-28
      c-1.562-1.562-4.095-1.562-5.656,0l-28,28C16.391,37.951,16,38.974,16,39.999c0,1.023,0.391,2.047,1.172,2.828
      c1.562,1.562,4.095,1.562,5.656,0L44,21.655v62.344c0,2.209,1.791,4,4,4S52,86.208,52,83.999z);
    background-size: 0.7em; 
    fill: color(button-text);
    stroke:none;
  }

  select.content {
    display:block;
    size:*;
    flow:vertical-wrap;
    overflow-x:scroll-indicator;
    overflow-y:none;
    border-spacing:3dip 1dip;
    border:none;
    background: color(back);
    border-top: 1dip solid color(widget-border);
  }  

  select.content > option 
  {
    foreground-repeat: no-repeat;
    foreground-position: 2dip 50%;
    padding-left: 24dip;
    padding-right: 4dip;
    width:max-content;
    max-width:100%;
    overflow-x:hidden;
    text-overflow:ellipsis;
    flow:text;
  }

  select.content > option.file /*{ behavior: shell-icon; }  */ {
    foreground-image: url(path:M20,6h-8l-2-2H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8C22,6.9,21.1,6,20,6z M18,12h-2v2h2v2h-2 v2h-2v-2h2v-2h-2v-2h2v-2h-2V8h2v2h2V12z);
    stroke: color(button-pressed-back);
    stroke-width:1dip;
    fill: #D4E157; /* mat-lime-400 */
    foreground-size:16dip; 
  }

  select.content > option.folder { 
    foreground-image:url("../../icons/folder.svg"); 
    /* stroke: #78909C; */
    fill: #78909C;
    /*stroke-width:1dip;
    foreground-size:16dip;  */
  } 
}

/* this allows it to be used in HTML as <folder /> */
folder {
  style-set: folder-view;
}