@set Spoiler {
    :root {
        height: min-content !important;
        background: transparent;
        border: 0;
    }
    
    option:not(:node) {
        font-size: smaller;
        padding: 0;
        margin: 0;
        white-space: normal;
    }
}