@import 'styles/windows-flat.css';
@import 'components/FolderView/FolderView.css';

html, body {
  font: system; font-rendering-mode:classic;
  size: *;
  overflow: none;
}

splitter {
    border: 0.5dip solid color(button-pressed-back);
}

frameset[rows] > splitter {
    width: 100%;
    height: 0;
}

frameset[cols] > splitter {
    width: 0;
    height: 100%;
}

.spacer {
  width: *;
}

.counter {
  background-color: color(button-pressed-back);
  padding: 4dip 8dip;
  border-radius: 6dip;
  min-width: min-content;
  white-space: nowrap;
}

popup[role="tooltip"] {
  background-color: color(panel-back);
  color: color(panel-text);
  border-radius: 8dip;
  border: 1dip solid color(button-pressed-back);
  box-shadow: 0 2dip 16dip rgba(0, 0, 0, 0.25);
  padding: 4dip 8dip;
}

button.icon {
    font-rendering-mode: sub-pixel;
    background-color: transparent !important;
    border: 0 !important;
    box-sizing: border-box;
    font-size: 16dip;
    max-height: 24dip;
    padding: 0 2dip !important;
}

button.icon svg {
    background-color: transparent !important;
    fill: color(text);
    size: 16dip 16dip;
}

button:disabled.icon svg {
  fill: color(disabled-text);
}

button.icon:hover {
    background-color: color(button-back) !important;
}

button.icon:active {
    background-color: color(button-pressed-back) !important;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
  background-color: transparent;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: color(text);
}

.svg-icon circle {
  stroke: color(text);
  stroke-width: 1;
}