@set Log {
  :root {
    background-color: morph(color(back), darken: 10%);
    border: 0;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Fira Code", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Droid Sans Mono", "Courier New", monospace;
    font-size: 12dip;
    padding: 4dip;
    /* behavior: virtual-list; */
    overflow: scroll;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .time {
    color: color(disabled-text);
  }

  .level {
    color: color(panel-text);
  }

  .level.WARN {
    color: gold;
  }

  .level.INFO {
    color: forestgreen;
  }

  .level.DEBUG {
    color: royalblue;
  }

  .level.ERROR {
    color: red;
  }

  .msg {
    color: color(text);
  }

  text {
    white-space: nowrap;
  }
}
