html {
  --oxford-blue: #0b233d;
  --champion-tunic: morph(#38b6f1, darken: 5%);
  --rich-black: #000510;
  --jet: #302e31;
  --prussian-blue: #083157;
  --maximum-green: #528f24ff;
  --deep-saffron: #ff953fff;
  --fern-green: #3e7430ff;
  --selective-yellow: #ffbc28ff;
  --skobeloff: #017575ff;
  --imperial-red: #F52331ff;

  --accent: color(champion-tunic);
  --accent-text: color(text);

  --panel-back: morph(color(jet), darken: 5%);
  --popup-panel-back: color(jet);
  --panel-text: morph(color(champion-tunic), lightness: 95%);
  --back: color(rich-black);
  --text: morph(color(rich-black), lightness: 95%);
  --border: color(oxford-blue);
  --button-back: color(prussian-blue);
  --button-pressed-back: morph(color(prussian-blue), lighten: 5%);
  --hover-border: morph(color(champion-tunic), darken: 10%);
  --disabled-text: morph(color(jet), lightness: 50%);
  --disabled-back: color(jet);
  --hover-option-cover: rgba(255, 255, 255, 0.1);
}

#MenuBar, .tabs, .tab {
  background-color: transparent;
}

#root {
  background: url("../images/swirls.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#ModList {
  /* background: url("../images/slate.png"); */
  background: url("path:M 0 0 H 48 V 48 H 0 L 0 0");
  background-repeat: repeat;
  stroke: morph(color(prussian-blue), opacity: 25%, darken: 5%);
  background-color: morph(color(oxford-blue), opacity: 70%, darken: 12.5%);
  position: relative;
  /* background-position: center;
  background-repeat: no-repeat; */

  color: white;
  text-shadow: 0 0 3dip morph(color(champion-tunic), opacity: 40%);
}

#ModList thead th {
  background-color: transparent;
}

#ModList tbody {
  size: *;
  background: url("../images/border.png");
  background-repeat: expand;
  background-position: 32 1 32 1;
}

#ModList tbody tr {
  z-index: 1;
  background: transparent;
}

#ModList tbody tr:hover,
option:node > caption:hover,
menu li:current {
  background: morph(color(champion-tunic), opacity: 50%);
}

#ModList tbody tr.selected,
option:node:current > caption,
menu li:active {
  background: morph(color(champion-tunic), opacity: 75%);
}

#ModList tr.disabled {
  text-shadow: transparent;
  color: #edc870;
  opacity: 0.667s;
}

option:node:current {
  background: color();
}

frameset splitter {
  border-color: color(jet);
  opacity: 0.5;
}

#DirtyBar {
  background-color: color(maximum-green);
}

.level.WARN {
  color: color(selective-yellow);
}

.level.INFO {
  color: color(maximum-green);
}

.level.DEBUG {
  color: color(skobeloff);
}

.level.ERROR {
  color: color(imperial-red);
}

button.icon.danger svg {
  fill: color(imperial-red);
}